@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply select-none bg-black text-[#F4DFC8] mb-[100vh];
}

.flexCenter {
  @apply flex justify-center items-center
}

.boxWidth {
  @apply xl:max-w-[1280px] w-full
}

/* .bounds {
  @apply absolute -top-1 w-full h-full group-hover:scale-[3];
  pointer-events: all;
} */

.menu-parrent::after {
  @apply absolute -top-1 w-full h-full group-hover:scale-[3] border-2;
  pointer-events: all;
  content: "";
}